body {
  background-color:black;
  display: flex;
}
#login-reg-container {
  margin: auto;
  padding: 1vw;
  background-color: #333333;
  border-radius: 2vw;
  border: 0.2vw solid #000000;
  box-shadow: 0px 0px 100vw rgb(0, 0, 150);
  top: 50vh;
  right: 50vw;
  position: absolute;
  transform: translate(50%, -50%);
}
.login{
  width: 20vw;
  height:35vh;
}
.registeren{
  width: 20vw;
  height: 50vh;
}



input[type=text], input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 0.3vw;
  border: 0.1vw solid #000000;
}

.login-button {
  background-color: #1c3bc8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0.3vw;
  border: 0.1vw solid #000000;
}
.registeren-button {
  background-color: #1c3bc8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0.3vw;
  border: 0.1vw solid #000000;
}

.login-registeren-button:hover {
  background-color: #1f1cc8;
}

#h2{
  color: white;
}

#label{
  color: white;
}

#text{
  color: white;
}
.link{
  color: rgb(0, 0, 255);
  text-decoration: none;
  -webkit-text-stroke: 0.03vw rgb(6, 0, 69);
}
.tekst-link{
  color: white;
  text-align: center;
}